/*body {*/
/*  margin: 0;*/
/*}*/

body {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 10px;
  padding: 15px;
  font-size: 25px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.column {
  box-sizing: border-box;
  float: left;
}

.left {
  width: 25%;
  height: 100%;
  min-height: 100vh;
}

.right {
  width: 75%;
  border-left: 2px dashed lightgray;
  min-height: 100vh;
  height: max-content;
}